<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831140350240-fjpnvmvqaj2dupvgrqhl958lsj9ihgnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831140350240-fjpnvmvqaj2dupvgrqhl958lsj9ihgnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBOLJ3fz2qgSuxydjDtHVyp8Typ5aPkCNc</string>
	<key>GCM_SENDER_ID</key>
	<string>831140350240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.circlebook</string>
	<key>PROJECT_ID</key>
	<string>circlebook-6963b</string>
	<key>STORAGE_BUCKET</key>
	<string>circlebook-6963b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831140350240:ios:1cb069c0d208edaf9fef45</string>
</dict>
</plist>